{% extends "templates/index.html" %}
{% load static %}
{% block contenidoQueCambia %}
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" style="font-size:20px;background-color:#00AEEF;color:black;" type="button" data-toggle="dropdown">Seleccionar Tecnico
    <span class="caret"></span> </button>
    <ul class="dropdown-menu">
        {% for nombre in name %}
      <li><a href="{% url 'verTecnico' nombre.name %}">{{ nombre.name }}</a></li>
      {% endfor %}   
    </ul>
  </div>

{% endblock %}